<%= provide :title, "Add a new employee" %>

<h1 class="section-title">
  <span>New employee</span>
</h1>
<ol class="breadcrumb text-left">
  <li>
    <%= link_to "Employees Management", employees_path %>
  </li>
  <li class="active">New</li>
</ol>

<div class="container-fluid pmd-card employee-edit">
  <%= form_with model: @employee, url: employees_path, local: true do |f| %>
    <div class="col-sm-4">
      <img src="<%= @employee.avatar.thumb.url %>" alt="<%= @employee.email %>"
        class="img-responsive center-block pmd-z-depth">
      <%= f.file_field :avatar %>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Email
            </label>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Password
            </label>
            <%= f.password_field :password, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Password confirmation
            </label>
            <%= f.password_field :password_confirmation, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Name
            </label>
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Role
            </label>
            <%= f.select :role, User.roles_select, {}, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Level
            </label>
            <%= f.number_field :level, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Phone number
            </label>
            <%= f.text_field :phone, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group pmd-textfield">
            <label for="regular1" class="control-label">
              Address
            </label>
            <%= f.text_area :address, class: "form-control", required: true %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <hr>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-success btn-block btn-lg pmd-ripple-effect">
              <i class="fa fa-save fa-fw"></i>
              Create
            </button>
          </div>
          <div class="col-sm-6">
            <%= link_to employees_path, class: "btn btn-danger btn-block btn-lg pmd-ripple-effect" do %>
              <i class="fa fa-backward fa-fw"></i>
              Back
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
