<%= provide :title, "Employee: #{@employee.name}" %>

<h1 class="section-title">
  <span>Employee Information</span>
</h1>
<ol class="breadcrumb text-left">
  <li>
    <%= link_to "Employees Management", employees_path %>
  </li>
  <li class="active"><%= @employee.name %></li>
</ol>

<div class="container-fluid pmd-card employee">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to edit_employee_path(@employee), class: "btn btn-primary pmd-rip pmd-ripple-effect pull-right" do %>
        <i class="fa fa-cog fa-fw"></i> Edit
      <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <img src="<%= @employee.avatar.thumb.url %>" alt="<%= @employee.email %>"
      class="img-responsive center-block pmd-z-depth">
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group pmd-textfield">
          <label for="regular1" class="control-label">
            Email
          </label>
          <input class="form-control" type="email" value="<%= @employee.email %>" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group pmd-textfield">
          <label for="regular1" class="control-label">
            Name
          </label>
          <input class="form-control" type="text" value="<%= @employee.name %>" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group pmd-textfield">
          <label for="regular1" class="control-label">
            Role
          </label>
          <input class="form-control" type="text" value="<%= @employee.employee_role %>" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group pmd-textfield">
          <label for="regular1" class="control-label">
            Level
          </label>
          <input class="form-control" type="text" value="<%= number_to_currency @employee.level %>" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group pmd-textfield">
          <label for="regular1" class="control-label">
            Phone number
          </label>
          <input class="form-control" type="text" value="<%= @employee.phone %>" readonly>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group pmd-textfield">
          <label class="control-label">Address</label>
          <textarea readonly class="form-control"><%= @employee.address %></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
