<div class="login-card">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4  pmd-z-depth-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center text-capitalize">
              Forgot password?
            </h1>
            <hr>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name),
              html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>
              <div class="form-group pmd-textfield pmd-textfield-floating-label">
                <%= f.label :email, class: "control-label pmd-input-group-label" %>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="material-icons md-dark pmd-sm">lock_outline</i>
                  </div>
                  <%= f.email_field :email, autofocus: true, class: "form-control" %>
                </div>
              </div>
              <div class="actions">
                <br>
                <%= f.submit "Send password reset link",
                  class: "btn btn-primary center-block btn-block" %>
              </div>
            <% end %>
            <div class="text-center">
              <hr>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
